.main_w {
  width: 100%;
  position: relative;
  z-index: 500;
  /* background: #fae8c8; */
  height: 1850px;
  background: #f5f5f5;
}
/* main */
/* 轮播图 */
.main{
  width: 980px;
  height: 300px;
  margin: 0px auto;
  padding-top: 30px;
}

/* touxiang */
.dr_mod2 {
  height: 140px;
  width: 1030px;
  background: #fff;
  margin: 40px auto 0px;
  text-align: center;
  font-size: 0px;
}
.dr_mod2_item {
  width: 92px;
  height: 140px;
  position: relative;
  border-right: 1px solid #f5f5f5;
  display: inline-block;
  vertical-align: top;
}
.dr_mod2_item a {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 92px;
  height: 140px;
  transition: all ease 0.3s;
  padding: 0px;
}
.dr_mod2_item a img {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 20px auto 0px;
  display: block;
}
.dr_mod2_item a strong {
  display: inline-block;
  height: 24px;
  padding: 0px 8px;
  color: #fff;
  font-size: 12px;
  border-radius: 2px;
  line-height: 24px;
  margin: 12px auto 0px;
  transition: all ease 0.3s;
}
.tag1 strong {
  background: #ff7c7c;
}
.dr_mod2_item a.tag1:hover {
  background: #ff4233;
}
.dr_mod2_item a.tag1:hover strong{
  background: #fff;
  color: #ff4233;
}
.dr_mod2_item a:hover {
  top: -10px;
  padding: 10px 0px;
}
/* 内容精选 */
.w1050 {
  width: 1050px;
  margin: 0px auto;
  font-size: 0px;
}
.dr_btitle {
  font-size: 24px;
  color: #333;
  height: 84px;
  line-height: 84px;
  text-align: center;
  padding-top: 36px;
}
.dr_mod3list {
  width: 1050px;
  margin: 0px auto;
  font-size: 0px;
}
.dr_mod3 {
  background: #fff;
  width: 330px;
  display: inline-block;
  margin: 0px 10px 20px;
  transition: all ease 0.3s;
  box-shadow: 0px;
}
.dr_mod3 .img, .dr_mod3 .img img {
  display: block;
  height: 186px;
  width: 330px;
  display: block;
}
.dr_mod3 .info {
  background: #fff;
  width: 290px;
  padding: 12px 20px 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dr_mod3 .info .title {
  font-size: 18px;
  color: #333;
  line-height: 30px;
  height: 30px;
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dr_mod3 .info .i {
  font-size: 12px;
  color: #999;
  line-height: 22px;
  height: 22px;
}
.dr_mod3 .info a.aun {
  display: inline-block;
  font-size: 16px;
  height: 22px;
  line-height: 22px;
  color: #ff4c35;
}
.dr_mod3:hover {
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
/* 大咖——活动 */
.mt-20 {
  margin-top: -20px;
}
.w1050 {
  width: 1050px;
  margin: 0px auto;
  font-size: 0px;
}
.w505 {
  width: 505px;
  margin: 0px 10px;
  display: inline-block;
  vertical-align: top;
}
.dr_btitle {
  font-size: 24px;
  color: #333;
  height: 84px;
  line-height: 84px;
  text-align: center;
  padding-top: 36px;
}
.dr_mod4 {
  background: #fff;
  padding: 16px;
  width: 473px;
  overflow: hidden;
  font-size: 0px;
}
.dr_mod4 .big {
  display: inline-block;
  vertical-align: top;
  height: 262px;
  width: 465px;
  overflow: hidden;
  margin: 4px;
  position: relative;
}
.dr_mod4 .big img {
  display: block;
  height: 262px;
  width: 465px;
  transition: all ease 0.3s;
}
.dr_mod4 .big img:hover{
  transform: scale(1.1);
}
.dr_mod4 .big .title {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-top: 13px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
}
.dr_mod4 .big .title strong {
  display: block;
  width: 80%;
  margin: 0px 10%;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* little */
.dr_mod4 .small {
  display: inline-block;
  vertical-align: top;
  height: 84px;
  width: 148px;
  overflow: hidden;
  margin: 4px;
}
.dr_mod4 .small img {
  display: block;
  height: 84px;
  width: 150px;
  transition: all ease 0.3s;
}
.dr_mod4 .small img:hover{
  transform: scale(1.1);
}














/* 返回顶部箭头 */
.bottom_back_top_top {
  /* display: none; */
  height: 178px;
  width: 48px;
  /* text-indent: -9999px; */
  z-index: 600;
  position: fixed;
  bottom: 6px;
  right: 6px;
}
.backtotop {
  height: 48px;
  width: 48px;
  /* text-indent: -9999px; */
  /* background: red; */
  background: url(../../img/header/up.png)0px 0px no-repeat;
  z-index: 600;
  position: absolute;
  bottom: 0px;
  right: -150px;
}
.backtotop img{
  height: 48px;
  width: 48px;
  z-index: 999;
}