.content{
  width: 100%;
  height: 1650px;
  position: relative;
  z-index: 500;
  background: #fae8c8;
}
.main{
  width: 990px;
  margin: 0px auto;
}



.bbtitles {
  height: 120px;
  line-height: 120px;
  font-size: 24px;
  color: #222;
  text-align: center;
  font-family: Microsoft Yahei;
  position: relative;
  display: block;
}
.bbtitles a.jksz {
  padding-left: 40px;
}
.bbtitles a {
  color: #222;
  display: inline-block;
  vertical-align: top;
}

body .mt0 {
  margin-top: 0px;
}
.listnav {
  width: 990px;
  margin: 0px auto;
  margin-top: 20px;
  position: relative;
}
.listnav_ul {
  height: 50px;
  width: 990px;
  background: rgba(255,255,255,0.5);
}
.listnav_ul li {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  line-height: 50px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  float: left;
}
.listnav_ul li.hover{
  background: #fff;
}
.listnav_ul li.hover a.link{
  color: #ff3232;
}
.listnav_con dl dd:hover{
  background: #ff3232;
}
.listnav_con dl dd:hover a{
  color: #fff;
}
.listnav_ul li a.link {
  color: #333;
  display: inline-block;
  vertical-align: top;
  height: 50px;
  padding: 0px 24px;
  position: relative;
}
.listnav_ul li.hover {
  background: #fff;
}
.listnav_ul li {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  line-height: 50px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  float: left;
}
.listnav_ul li h1 {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
}
li a.link {
  color: #333;
  display: inline-block;
  vertical-align: top;
  height: 50px;
  padding: 0px 24px;
  position: relative;
}
.listnav_con {
  background: #fff;
  width: 990px;
}
.listnav_con dl.br1 {
  border-right: 1px solid #eee;
}
.listnav_con dl.w210 {
  width: 177px;
}
.listnav_con dl {
  padding: 10px 16px 14px;
  display: inline-block;
  vertical-align: top;
}
.listnav_con dl dt {
  display: Block;
  height: 42px;
  line-height: 42px;
  font-size: 24px;
  color: #333;
  font-family: Microsoft Yahei;
  position: relative;
}
.listnav_con dl dd {
  font-size: 14px;
  color: #666;
  display: inline-block;
  vertical-align: top;
  height: 28px;
}
.listnav_con dl dd a {
  padding: 0px 8px;
  display: inline-block;
  vertical-align: top;
  height: 28px;
  line-height: 28px;
  color: #666;
}
.listnav_con dl.bb1 {
  border-bottom: 1px solid #eee;
}
.listnav_con dl.br1 {
  border-right: 1px solid #eee;
}
.listnav_con dl.w570 {
  width: 537px;
}
.listnav_con dl {
  padding: 10px 16px 14px;
  display: inline-block;
  vertical-align: top;
}
.listnav_con dl.bb1 {
  border-bottom: 1px solid #eee;
}
.listnav_con dl.w210 {
  width: 177px;
}
.listnav_con dl {
  padding: 10px 16px 14px;
  display: inline-block;
  vertical-align: top;
}
.listnav_con dl.w990 {
  width: 957px;
}
.listnav_con dl {
  padding: 10px 16px 14px;
  display: inline-block;
  vertical-align: top;
}

.listnav_ul li:hover{
  background: #fffaf1;
}
.listnav_ul li:hover a.link{
  color: #ff3232;
}


.bbtitles {
  height: 120px;
  line-height: 120px;
  font-size: 24px;
  color: #222;
  text-align: center;
  font-family: Microsoft Yahei;
  position: relative;
  display: block;
}
.bbtitles span.paixu {
  line-height: 48px;
  position: absolute;
  right: 0px;
  top: 36px;
  display: block;
  height: 48px;
  font-size: 12px;
  font-family: 宋体;
  color: #666;
}
.bbtitles span.paixu a.current {
  color: #ff3232;
}
.bbtitles span.paixu a {
  color: #666;
}
.bbtitles a {
  color: #222;
  display: inline-block;
  vertical-align: top;
}
.bbtitles span.paixu a {
  color: #666;
}
.bbtitles a {
  color: #222;
  display: inline-block;
  vertical-align: top;
}

.list_style_w{
  width: 990px;
  float: left;
}
/* .list_style_c{

} */
body .m10 {
  margin-left: 0px;
}
.list_style_1 {
  margin-left: 20px;
  background: #fff;
  height: 332px;
  width: 232px;
  position: relative;
  float: left;
  margin-bottom: 20px;
}
.list_style_1 .img{
  position: relative;
  height: 232px;
  width: 232px;
}
.list_style_1 .img a.img{
  display: block;
  height: 232px;
  width: 232px;
}

.list_style_1 .info1{
  height: 100px;
}
.list_style_1 .info1 .title{
  padding-top: 10px;
  height: 28px;
  line-height: 28px;
  text-indent: 14px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  width: 232px;
}
.list_style_1 .info1 .title a{
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
.list_style_1 .info1 div.d1{
  height: 24px;
  line-height: 24px;
  padding-left: 14px;
}
.list_style_1 .info1 div.d1 span{
  color: #999;
  padding-right: 10px;
  display: inline-block;
  vertical-align: top;

}
.listtyle1_page {
  height: 40px;
  margin: 0 40px auto;
  text-align: center;
}
.listtyle1_page_w {
  display: inline-block;
  vertical-align: top;
  margin: 0px auto;
}
.listtyle1_page_w a.current {
  background: #ff3232;
  color: #fff;
}
.listtyle1_page_w a {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  line-height: 40px;
  padding: 0px 13px;
  min-width: 14px;
  text-align: center;
  margin-right: 1px;
  background: #f5f5f5;
  white-space: nowrap;
  color: #666;
  font-size: 14px;
}
.listtyle1_page_w span {
  display: inline-block;
  vertical-align: top;
  padding: 0px 10px;
  min-width: 14px;
  line-height: 40px;
}
.gopage {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: #666;
}
.gopage form {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: #666;
}
.gopage input.text {
  height: 38px;
  line-height: 38px;
  border: 1px solid #f5f5f5;
  background: #fff;
  width: 38px;
  text-align: center;
  color: #666;
  font-size: 14px;
}
.gopage input.submit {
  height: 38px;
  line-height: 34px;
  border: 1px solid #eee;
  background: #f5f5f5;
  width: 50px;
  text-align: center;
  color: #666;
  font-size: 14px;
  cursor: pointer;
}

  /* 返回顶部箭头 */
  .bottom_back_top_top {
    /* display: none; */
    height: 178px;
    width: 48px;
    /* text-indent: -9999px; */
    z-index: 600;
    position: fixed;
    bottom: 6px;
    right: 6px;
  }
  .backtotop {
    height: 48px;
    width: 48px;
    /* text-indent: -9999px; */
    /* background: red; */
    background: url(../../img/header/up.png)0px 0px no-repeat;
    z-index: 600;
    position: absolute;
    bottom: 0px;
    right: -150px;
  }
  .backtotop img{
    height: 48px;
    width: 48px;
    z-index: 999;
  }
  